<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- 3th party imports -->
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

        <!-- Private javascript -->
        <script src="{{ url_for('static', filename='javascript_example.js') }}"></script>
    </head>

    <head>
      <title>Flask/WSGI skeleton example</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" onclick="get_page_body('/home')">
                            <img src="{{ url_for('static', filename='home.png') }}" style="height: 34px; margin-top: -6px">
                        </a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">My pages
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="get_page_body('/some_page_1')">page 1</a></li>
                                <li><a href="#" onclick="get_page_body('/some_page_2')">page 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/apidocs">API Docs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div id="page_body"></div>
        </div>
    </body>
</html>