<div class="col-md-12">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <hr>
                <h2>{{ title }}</h2>
                <span id="messages"></span>
            <hr>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <p>
                Content of some_page_1.html
            </p>
            <p>
                Flask gave some values to render
            </p>
            <p>
                username: {{ username }}<br/>
                homedirectory: {{ home_directory }}<br/>
            </p>
        </div>
    </div>
</div>